<html>
<head>
<style></style>
<title>Index of calc website</title>
</head>
<body>
<a href="add/4/5" target="_blank"> 整数加法 </a> <br>
<a href="add/4.23/5" target="_blank"> 整数小数混合加法1 </a> <br>
<a href="add/4/5.78" target="_blank"> 整数小数混合加法2 </a> <br>
<a href="add/500/47" target="_blank"> 大整数加法 </a> <br><br>

<a href="subtract/4/5" target="_blank"> 整数减法 </a> <br>
<a href="subtract/4.23/5" target="_blank"> 整数小数混合减法1 </a> <br>
<a href="subtract/4/5.78" target="_blank"> 整数小数混合减法2 </a> <br>
<a href="subtract/500/47" target="_blank"> 大整数减法 </a> <br><br>

<a href="multiply/4/5" target="_blank"> 整数乘法 </a> <br>
<a href="multiply/4.23/5" target="_blank"> 整数小数混合乘法1 </a> <br>
<a href="multiply/4/5.78" target="_blank"> 整数小数混合乘法2 </a> <br>
<a href="multiply/500/47" target="_blank"> 大整数乘法 </a> <br><br>

<a href="divide/4/5" target="_blank"> 整数除法 </a> <br>
<a href="divide/4.23/5" target="_blank"> 整数小数混合除法1 </a> <br>
<a href="divide/4/5.78" target="_blank"> 整数小数混合除法2 </a> <br>
<a href="divide/500/47" target="_blank"> 大整数除法 </a>

</body>
</html>